img {
    display: block;
    margin: 0 auto;
}

html, body, #viewport {
    height: 100%;
    width: 100%;
}

#viewport {
    display: flex;
    align-content: center;
    justify-content: center;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#searchbar {
    display: flex;
    justify-content: center;
    /* position: absolute; */
    /* top: 50%; */
    /* bottom: 50%; */
    /* transform: translate(-50%, -50%); */
}

#searchbuttons {
    display: flex;
    justify-content: center;
    /* position: absolute; */
    /* top: 50%; */
    /* bottom: 50%; */
    /* transform: translate(-50%, -50%); */
}
